header{
    margin: auto;
    display: block;
 
    background-color: crimson;
    padding: 0px;   
}


#wrapper{
    margin-top: 10px;
    text-align: center;
    float:left;
}

#lhs{
    width:650px;
    float:left;
    height:500px;
    font:10px Tahoma;
    margin: auto;
    background-color: #333;
}

#rhs_aside{
    float: left;
    border-left:5px solid grey;
    height: 300px;
    padding: 2px;
}


#wrapper article{
    background-color: grey;
    padding: 10px;
    margin: 10px;
}



#show{
    cursor: pointer;
}


#show ul{
    display: none;
}


aside{
    width:670px;
    height:100px;
    float:left;
    background: crimson;
    padding:10px;
    transition: 0.2s;   
}
aside:hover{
    box-shadow: 6px 6px 0px black;
}
